# Aplicacao
APP_VERSION=1.0.0
APP_PORT=8080
APP_ENVIRONMENT=staging
SPRING_PROFILES_ACTIVE=staging

# Banco de dados (Postgres)
POSTGRES_DB=skyrescue
POSTGRES_USER=skyrescue
POSTGRES_PASSWORD=skyrescue
POSTGRES_PORT=5432

# pgAdmin (docker compose --profile tools)
PGADMIN_EMAIL=admin@skyrescue.io
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
